body {
  background-color: #c0c0c0;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 1.4em;
  margin: 0;
}

.index-container {
  width: 75%;
  margin: auto;
  background-color: #ddd;
  padding: 25px;
  border-radius: 20px;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 1fr;
}

.container2 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.item2 {
  padding-left: 40px;
  padding-top: 60px;
}

.item3 {
  padding-top: 60px;
  padding-left: 40px;
}

.item5 {
  padding-top: 60px;
  padding-left: 40px;
}

a:hover {
  background-color: aqua;
}

a:link {
  color: black;
  text-decoration: underline;
  text-decoration-color: #0000ff;
}

a:visited {
  color: black;
  text-decoration: underline;
  text-decoration-color: #0000ff;
}

.homebtn {
  background-color: #f6e3ba;
  cursor: pointer;
}

img {
  border-radius: 10px;
}
